# Test Jupyter Notebook

In [1]:
import numpy as np
import pandas as pd

In [13]:
df = pd.DataFrame()

n = 1_000_000
df['age'] = np.random.randint(20, 85, size=n)
df['food_favorite'] = np.random.choice(['pizza', 'burger', 'chocolate'], size=n)
df['food_not_favorite'] = np.random.choice(['apple', 'salad', 'vegetables'], size=n)
df['sleep_time'] = np.random.randint(5, 9, size=n)

df.head()

   age food_favorite food_not_favorite  sleep_time
0   35         pizza        vegetables           5
1   76        burger        vegetables           7
2   68        burger             salad           5
3   33        burger        vegetables           7
4   63        burger             salad           6

In [9]:
def reward(row):
    if (row['age'] <= 75) & (row['sleep_time'] > 5) | (row['age'] >= 80):
        res = row['food_favorite']
    else:
        res = row['food_not_favorite']
    return res

In [14]:
%timeit()

df['reward'] = df.apply(reward, axis=1)
df.head()

21.7 ns ± 2.66 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

   age food_favorite food_not_favorite  sleep_time      reward
0   35         pizza        vegetables           5  vegetables
1   76        burger        vegetables           7  vegetables
2   68        burger             salad           5       salad
3   33        burger        vegetables           7      burger
4   63        burger             salad           6      burger

In [15]:
%timeit()

df['reward'] = df['food_not_favorite']
df.loc[(df['age'] <= 75) & (df['sleep_time'] > 5), 'reward'] = df['food_favorite']

23.1 ns ± 1.4 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)